<h1>Please Sign-In to the Workshop!</h1>

<form method="POST" action="/sign-in">

	<label for="first_name">First Name</label>
	<input type="text" name="first_name">

	<label for="last_name">Last Name</label>
	<input type="text" name="last_name">

	<label for="email">Email Address</label>
	<input type="text" name="email">

	<label for="password">Enter Password</label>
	<input type="password" name="password">


	<input type="submit">
</form>





<h4>Use the params - Vinny Goomba vin@yahoo.com 1234</h4>